{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}


<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Blog Home
  </h1>


  {% for post in post_list %}
  <!-- Blog Post -->
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <h2 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p class="card-text">{{ post.text|truncatechars:200 }}</p>
          <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.published_date|date:"D M Y"}} by
      <a href="#">{{ post.author }}</a>
    </div>
  </div>
  {% endfor %}

</div> <!-- /.container -->

{% endblock %}
